<!DOCTYPE HTML>
<html>


<% @contacts.each do |contact| %>
    
    <h2>Company: <%= contact.company %></h2>
    
    
    <%= link_to "View this Contact", "/contacts/#{contact.id}" %>
    <br><br>
    
<% end %>

</html>

