<h1 style="text-align: center;">Which Contact would you like to change?</h1>
<br>
<% @contacts.each do |contact| %>
    <h2><%= contact.name %></h2>
    <%= button_to "Choose #{contact.name}", edit_contact_path(contact), method: :get %>
    <br><br>
<% end %>
